body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 45px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a{
  text-decoration: none;
}

.weatherApp {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 610px;
}

.searchingRow {
  align-items: center;
}

.submit {
  width: 7%;
  padding: 7px 0px;
}

.current {
  margin-top: 5px;
  text-align: end;
}

.temp-info {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 1;
  justify-content: flex-end;
  align-items: center;
}

.feels-like {
  text-align-last: center;
  width: 300px;
}

.airCondition {
  margin-top: 10px;
}

.humidity {
  text-align-last: end;
  width: 300px;
}

.daysOfTheWeek {
  text-align: center;
}

.weatherWeek {
  text-align: center;
}

.tempOfTheWeek {
  text-align: center;
}

.codedBy {
  text-align: center;
  font-family: arial, sans-serif;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
  }
  

