h1, defaultCity {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 45px ;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  text-align-last: end;
  padding: 0px;
  
}
.units {
    top: -34px;
}
.codedBy {
  text-align: center;
  font-family: arial, sans-serif;
}
