.weatherApp {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 610px;
}

h1 {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 45px;
}

h4 {
  text-align: center;
}
.row{
  align-items: center;
}

.submit{
  width: 7%;
  padding: 7px 0px;
}
.current{
  text-align: end;
}

.temp-info {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 1;
  text-align-last: end;
}

.highTemp {
  text-align-last: end;
  width: 300px;
}
.units {
  top: -34px;
}
.daysOfTheWeek {
  text-align: center;
}
.weatherWeek {
  text-align: center;
}
.tempOfTheWeek {
  text-align: center;
}
.codedBy {
  text-align: center;
  font-family: arial, sans-serif;
}
